<div class="container full-height">
  <h2 class="purple-title">Create a cocktail</h2>

  <%= simple_form_for @cocktail do |f| %>
    <div class="new-field">
      <%= f.input :name %>
    </div>
    <div class="new-field">
      <%= f.input :photo, as: :file %>
    </div>
    <div id="submit">
      <%= f.submit class: "btn-link" %>
    </div>
  <% end %>

</div>

