.footer {
  font-size: 14px;
  background-color: $purple;
  color: #e0e0e0;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 5%;

  // position: absolute;
  // bottom: 0;
  // width: 100%;
}
